<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/javascripts/jquery.min.js"></script>
</head>
<body>

</body>
<script type="text/javascript">
    var uri='/note/create';
    var dataObj={
        userId:2,
        title: "Finish Home Screen",
        desc: 'Web App',
        location: '武汉',
        notification: '20分钟之前',
        repeat: 'none',
        date: new Date(),
        beginTime: '9:00',
        endTime: '10:00',
        timestatus: 1
    };
    $.ajax({
        type:"POST",
        url:'http://localhost:3333'+uri,
        data:dataObj
    }).done(function (data) {
        $('body').append(JSON.stringify(data));
    });
</script>
<!--<script type="text/javascript">-->
    <!--$.ajax({-->
        <!--type:"POST",-->
        <!--url:'http://127.0.0.1:3000/user/create',-->
        <!--dataType:'json',-->
        <!--data:{-->
            <!--'username': 'gongyi',-->
            <!--'password': 'qw',-->
            <!--'tel': '17607199026',-->
            <!--'email': 'q',-->
            <!--'tag': '技术部',-->
            <!--'creater': 'gongyi',-->
            <!--'time': new Date(),-->
            <!--'partment':'aaaa',-->
            <!--'token': ''-->
        <!--}-->
    <!--}).done(function (data) {-->
        <!--$('body').append(JSON.stringify(data));-->
    <!--})-->
<!--</script>-->
</html>